<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<mat-sidenav-container class="sidenav-container" id="top">
  
  <mat-sidenav mode="side" opened class="sidenav-left" [fixedInViewport]="true" [fixedTopGap]="56" [fixedBottomGap]="0">
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <div class="container">
      <p class="title">User details</p>
    <div class="datacontainer">
      <div class="row">
        <div class="label">Username:</div>
        <div class="value">{{user?.username}}</div>
      </div>
      <div class="row">
        <div class="label">Name:</div>
        <div class="value">{{user?.fullName}}</div>
      </div>
      <div class="row">
        <div class="label">Email:</div>
        <div class="value">{{user?.email}}</div>
      </div>
      <div class="row" *ngIf="isAdmin">
        <div class="label">Role:</div>
        <div class="value">{{formattedRole}}</div>
      </div>
    </div>
  </div>
  </mat-sidenav-content>

  <mat-sidenav mode="side" opened position="end" class="sidenav-right" [fixedInViewport]="true" [fixedTopGap]="56"
    [fixedBottomGap]="0">
    <div>
      <button class="btn btn-secondary tooltips btn-block text-light farmbutton" routerLink="{{updatePath}}">Edit</button>
    </div>
  </mat-sidenav>

</mat-sidenav-container>