<mat-sidenav-container class="sidenav-container" id="top">
    <mat-sidenav mode="side" opened class="sidenav-left" [fixedInViewport]="true" [fixedTopGap]="56" [fixedBottomGap]="0">
        <h5 class="card-title">Report details</h5>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
        
        <div class="container">

            <div class="card-columns mx-auto">

                <div class="card animaldetailcard">
                    <div class="animaldetailimage text-center" >
                    <img class="animal-detail-img" src={{imageUrl}}>
                    <h5><div class="top-left  badge badge-secondary">{{ticket?.animal?.name || "unknown animal"}}</div></h5>
                </div>
                    
                  </div>
                  <br>
                  <div class="card animaldetailrightcard">
                    <div class="card-header">
                      <h5 class="no-padding">Report date</h5>
                      <p>{{ticket?.reportDateTime | date: 'dd/MM/yyyy hh:mm'}}</p>
                    
                    
                      <h5 class="no-padding">Reported by</h5>
                      <p>{{ticket?.reportedByUser?.username}}</p>
                      
                      
                      <h5 class="no-padding">Assigned to</h5>
                      {{ticket?.assignedToUser?.username || "Not assigned"}}
                    </div>
                    <div class="card-body">
                      <h5 class="no-padding">Report status</h5>
                      
                      <span class="badge badge-warning">{{ticket?.status}}</span>
                    </div>
                  </div>
          
                </div>
                <div class="card description-card">
                  <div class="card-body">
                    <h5 class="card-title">{{ticket?.summary}}</h5>
                    <p class="card-text">{{ticket?.description}}</p>
                  </div>
                </div>
               
           

            </div>

            <div class="row">
                <div class="col">
                    
                    <div class="ticket-message-container mx-auto">
                        <h3> Messages</h3>
                        <mat-tab-group  mat-stretch-tabs="true" mat-align-tabs="start" >
                            <mat-tab label="Public" >
                                <div class="col-md-12 text-center">
                                    <br>
                                    <button class="btn btn-secondary farmbutton"  (click)="openNewMessageDialog(false)">New public message</button>
                                </div>
                                <ng-container *ngFor="let ticketMessage of publicTicketMessages">
                                    <div class="fw-comment-container d-flex">
                                        <div class="fw-comment-userinfo">
                                            <table>
                                                <tr>
                                                    <td class="username">{{ticketMessage.sendByUser.username}}</td>
                                                </tr>
                                                <tr>
                                                    <td>{{ticketMessage.sendByUser.role}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="comment">
                                            <div class="comment-body">
                                                <span class="comment-meta">{{ticketMessage.messageLocalDateTime | date: "dd-MM-yyyy HH:mm"}}</span>
                                                <p class="comment-text">{{ticketMessage.message}}</p>
                                                <div class="comment-footer">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </mat-tab>
                            <mat-tab *ngIf="getRole() != 'USER'" label="Private">
                                <div class="col-md-12 text-center">
                                    <br>
                                    <button class="btn btn-secondary farmbutton" (click)="openNewMessageDialog(true)">New private message</button>
                                </div>
                                <ng-container *ngFor="let ticketMessage of privateTicketMessages">
                                <div class="fw-comment-container d-flex">
                                    <div class="fw-comment-userinfo">
                                        <table>
                                            <tr>
                                                <td class="username">{{ticketMessage.sendByUser.username}}</td>
                                            </tr>
                                            <tr>
                                                <td>{{ticketMessage.sendByUser.role}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="comment">
                                        
                                        <div class="comment-body">
                                            <span class="comment-meta">{{ticketMessage.messageLocalDateTime | date: "dd-MM-yyyy HH:mm"}}</span>
                                            <p class="comment-text">{{ticketMessage.message}}</p>
                                            <div class="comment-footer">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </ng-container>
                            </mat-tab>
                          </mat-tab-group>
                    </div>
                </div>
            </div>
     
    
    </mat-sidenav-content> 
    <mat-sidenav mode="side" opened position="end" class="sidenav-right" [fixedInViewport]="true" [fixedTopGap]="56" [fixedBottomGap]="0">
        <button class="btn btn-secondary tooltips btn-block text-light farmbutton " *ngIf="getRole() != 'USER'" routerLink="/ticket/update/{{id}}">Edit</button>
        <button class="btn btn-secondary tooltips btn-block text-light farmbutton" *ngIf="showAssignToMeButton" (click)="assignTicketToCurrentUser(ticket)">Assign report to me</button>  
    </mat-sidenav>
</mat-sidenav-container>

