<table class="table">
    <tr>
        <th>Ticket ID</th>
        <td>{{ticket?.id}}</td>
    </tr>
    <tr>
        <th>Title</th>
        <td>{{ticket?.title}}</td>
    </tr>
    <tr>
        <th>Report Date</th>
        <td>{{ticket?.reportDateTime | date: 'dd/MM/yyyy hh:mm'}}</td>
    </tr>
    <tr>
        <th>Status</th>
        <td>{{ticket?.status}}</td>
    </tr>
    <tr>
        <th>Animal ID</th>
        <td>{{ticket?.animalId}}</td>
    </tr>
    <tr>
        <th>Report User ID</th>
        <td>{{ticket?.reportedByUserId}}</td>
    </tr>
    <tr>
        <th>Assigned To ID</th>
        <td>{{ticket?.assignedToUserId}}</td>
    </tr>
    <tr>
        <th>Ticket Messages</th>
        <ng-container *ngFor="let ticketMessage of ticketMessages">
            <tr>
                <td>{{ticketMessage.messageLocalDateTime | date: "dd-MM-yyyy hh:mm"}}</td>
                <td>{{ticketMessage.message}}</td>
            </tr>
        </ng-container>
    </tr>
</table>