

.ticketdetailspace{
    margin-top:50px;
}
.ticket-container{
    margin-top: 20px;
    padding: 30px;
    border: 1px solid;
    border-radius: 5px;
    width: 100%;
    
}

.ticket-message-container{
    margin-top: 20px;
    padding: 30px;
    border-radius: 5px;
    width: 800px;
    background-color: #f7f7f7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fw-comment-userinfo{
    padding: 5px;
    border: 1px solid #adb0b3;
    border-radius: 5px;
    height: 100%;
    font-size: 14px;
    min-width: 100px;
    background-color: white;
}

.fw-comment-userinfo .username{
    font-weight: bold;
}

.new-ticket-message-container{
    margin-bottom: 20px;
}

.fw-comment-container{
    margin-top: 25px;
}

.comment {
    display: block;
    position: relative;
    margin-bottom: 30px;
    padding-left: 30px;
    width: 100%;
    
    
}

.comment .comment-author-ava {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    
}

.comment .comment-author-ava>img {
    display: block;
    width: 100%;
    
}

.comment .comment-body {
    position: relative;
    padding: 24px;
    border: 1px solid #e1e7ec;
    background-color: white;
    border-radius: 7px;
    /*background-color: #fff;*/
}

.comment .comment-body::after,
.comment .comment-body::before {
    position: absolute;
    top: 12px;
    right: 100%;
    width: 0;
    height: 0;
    border: solid transparent;
    content: '';
    pointer-events: none
}

.comment .comment-body::after {
    border-width: 9px;
    border-color: transparent;
    border-right-color: #fff
}

.comment .comment-body::before {
    margin-top: -1px;
    border-width: 10px;
    border-color: transparent;
    border-right-color: #e1e7ec
}

.comment .comment-title {
    margin-bottom: 8px;
    color: #606975;
    font-size: 14px;
    font-weight: 500
}

.comment .comment-text {
    margin-bottom: 12px
}

.comment .comment-footer {
    display: table;
    width: 100%
}

.comment .comment-footer>.column {
    display: table-cell;
    vertical-align: middle
}

.comment .comment-footer>.column:last-child {
    text-align: right
}

.comment .comment-meta {
    position:absolute; left: 500px; top:5px;
    font-size: 13px;
    float: right;
    margin: 0px;
    
}

.comment .reply-link {
    transition: color .3s;
    color: #606975;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .07em;
    text-transform: uppercase;
    text-decoration: none
}

.comment .reply-link>i {
    display: inline-block;
    margin-top: -3px;
    margin-right: 4px;
    vertical-align: middle
}

.comment .reply-link:hover {
    color: #0da9ef
}

.comment.comment-reply {
    margin-top: 30px;
    margin-bottom: 0
}

@media (max-width: 576px) {
    .comment {
        padding-left: 0
    }
    .comment .comment-author-ava {
        display: none
    }
    .comment .comment-body {
        padding: 15px
    }
    .comment .comment-body::before,
    .comment .comment-body::after {
        display: none
    }
}

::ng-deep *,*:focus,*:hover{
    outline:none !important;
    
 }

 .btn-new-message{
    margin-top: 20px;
 }



  ::ng-deep .mdc-tab-indicator--active {
    background: #38905e;
    
    
  }
  

  ::ng-deep .mat-mdc-tab:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline, .mat-mdc-tab-link:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline {
    border-color: var(--mdc-tab-indicator-active-indicator-color, #38905e);
  }


  ::ng-deep .mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label, .mat-mdc-tab-link:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label{
    color:white;
    font-size: 16px;
   
  }

 

 






 