
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened class="sidenav-left">
        <h5>word</h5>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
<h1>Details for {{animalDetail?.name}}</h1>
<br>
<div class="container" id="main-container">
    <div class="row">
        <div class="col-md-6 col-xl-3">
            <div class="card m-b-30">
                <div class="card-body row">
                    <div class="col-6 card-title align-self-center mb-0">
                        <h5>{{animalDetail?.name}}</h5>
                        <table>
                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </mat-sidenav-content> 
    <mat-sidenav mode="side" opened position="end" class="sidenav-right">
        <h5>word</h5>
    </mat-sidenav>
</mat-sidenav-container>