
<!-- Container -->

<!-- Left Sidebar Start-->
<mat-sidenav-container class="sidenav-container" id="top">
    <mat-sidenav mode="side" opened class="sidenav-left" [fixedInViewport]="true" [fixedTopGap]="56" [fixedBottomGap]="0">
      
</mat-sidenav>
<!-- Left Sidebar End-->
    
<!-- Center Content Start-->
<mat-sidenav-content class="sidenav-content">
  <br>
  <div class="card" style="width: 50rem; background-color: white; border: none">
    <h1>{{animalDetail?.name}}</h1>
    <br>
    <div class="row">
    <div class="col-md-8">
    <img class="card-img-top" src="{{animalDetail?.imageUrl}}" alt="Card image cap">
    </div>
    <div class="col-md-4">
        <h5 class="card-title">Name: </h5>
        <p class="card-text">{{animalDetail?.name}}</p>
      
      
        <h5 class="card-title">Animal: </h5>
        <p class="card-text">{{animalDetail?.commonName}}</p>
     
      
        <h5 class="card-title">Species: </h5>
        <p class="card-text">{{animalDetail?.species}}</p>
      
      
        <h5 class="card-title">Born on: </h5>
        <p class="card-text">{{animalDetail?.dateOfBirth| date: "dd-MM-yyyy"}}</p>
    </div>
    </div>

  <br>
  
    <h1>Meet {{animalDetail?.name}}!</h1>
    <div class="card-body">
        <p class="card-text">{{animalDetail?.description}}</p>
    </div>
 
  <br>
</div>
  

  <div class="card"  *ngIf="isAuthorized" style="width: 50rem; background-color: white; border: none">
    <h1>Tickets involving {{animalDetail?.name}}</h1>
    <div class="card-body">
        <p class="card-text">Fortunately, {{animalDetail?.name}} has no tickets at this moment.</p>
    </div>
    </div>
      <br>
    <div id="bottom"></div>
  </mat-sidenav-content> 

<!-- Center Content End-->

<!-- Right Sidebar Start-->
  <mat-sidenav mode="side" opened position="end" class="sidenav-right" [fixedInViewport]="true" [fixedTopGap]="56" [fixedBottomGap]="0">
    <div>
        <button class="btn btn-warning tooltips btn-block text-light" *ngIf="isAuthorized"  routerLink="/animal/update/{{id}}">Edit</button>
        <br>
        <button class="btn btn-danger tooltips btn-block" *ngIf="isAuthorized" (click)="openDialogWithTemplateRef(deleteDialog)">Delete</button>
        <ng-template #deleteDialog>
         <h1>You are about to delete {{animalDetail?.name}}.</h1>
         <mat-dialog-content>The animal and all related tickets will be deleted. Are you sure you wish to continue?</mat-dialog-content>
        <mat-dialog-actions class="actions">
          <button class="btn btn-primary tooltips">Cancel</button>
          <button class="btn btn-primary tooltips" (click)="onDeleteAnimal(id)" [mat-dialog-close]="true">Continue</button>
        </mat-dialog-actions>
        </ng-template>
    </div>
    
    

    </mat-sidenav>
</mat-sidenav-container>
<!-- Right Sidebar End-->