
<!-- Container -->

<!-- Left Sidebar Start-->
<mat-sidenav-container class="sidenav-container" id="top">
    <mat-sidenav mode="side" opened class="sidenav-left" [fixedInViewport]="true" [fixedTopGap]="56" [fixedBottomGap]="0">
      <h5 class="card-title">Animal details</h5>
    </mat-sidenav>
<!-- Left Sidebar End-->
    
<!-- Center Content Start-->
<mat-sidenav-content class="sidenav-content">
  <div class="container" id="main-container">
        <div class="card-columns mx-auto">
                
      <div class="card animaldetailcard">
          <div class="animaldetailimage text-center" >
          <img class="animal-detail-img" src={{getAnimalImage()}}>
      </div>
          
        </div>
        <br>
        <div class="card animaldetailrightcard">
          <div class="card-header">
            <h5 class="no-padding">Name</h5>
            <p>{{animalDetail?.name}}</p>
          
          
            <h5 class="no-padding">Animal</h5>
            <p>{{animalDetail?.commonName}}</p>
            
            
            <h5 class="no-padding">Species</h5>
            {{animalDetail?.species}}
          </div>
          <div class="card-body">
            <h5 class="no-padding">Born on</h5>
            
           {{animalDetail?.dateOfBirth| date: "dd-MM-yyyy"}}
          </div>
        </div>

      </div>
      <div class="card description-card">
        <div class="card-body">
          <h5 class="card-title">Description</h5>
          <p class="card-text">{{animalDetail?.description}}</p>
        </div>
      </div>


</div>
  </mat-sidenav-content> 

<!-- Center Content End-->

<!-- Right Sidebar Start-->
<mat-sidenav mode="side" opened position="end" class="sidenav-right" [fixedInViewport]="true" [fixedTopGap]="56"
  [fixedBottomGap]="0">
  <div>
    <button class="btn btn-secondary tooltips btn-block text-light farmbutton" *ngIf="isLoggedIn() 
    && getRole() === 'ADMIN' || getRole() === 'CARETAKER'"
      routerLink="/animal/update/{{id}}">Edit</button>
  </div>
</mat-sidenav>
</mat-sidenav-container>
<!-- Right Sidebar End-->