@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';

h1 {
    margin: auto;
    width: 50%;
}

.sidenav-container {
  position: absolute;
  top: 56px;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav-content {


}

.sidenav-left {
    background-color: rgb(17, 255, 0);
    width: 300px;
}

.sidenav-right {
    background-color: rgb(186, 79, 141);
    width: 300px;
    
}


