<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<mat-sidenav-container class="sidenav-container" id="top">
  <mat-sidenav mode="side" opened class="sidenav-left" [fixedInViewport]="true" [fixedTopGap]="56"
  [fixedBottomGap]="0">
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
      <br>
<br>
<div class="container">
<div class="row flex-lg-nowrap">
  <div class="col">
    <div class="row">
      <div class="col mb-3">
        <div class="card">
          <div class="card-body">
            <div class="e-profile">
              <ul class="nav nav-tabs">
                <li class="nav-item"><a href="" class="active nav-link">User profile</a></li>
              </ul>
              <div class="tab-content pt-3">
                <div class="tab-pane active">
                  <form 
                  *ngIf="!isSuccessful"
                  name="form"
                  (ngSubmit)="f.form.valid && onSubmit()"
                  #f="ngForm"
                  novalidateclass="form">
                    <div class="row">
                      <div class="col">
                        <div class="col">
                            <div class="row">
                                <div class="form-group">
                                    <label>Username</label>
                                    <input class="form-control" type="text" name="username" [(ngModel)] = "user.username" value={{user.username}}>
                                </div>
                            </div>
                          </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Firstname</label>
                              <input 
                              type="text"
                              class="form-control"
                              name="firstname"
                              [(ngModel)]="user.firstname"
                              required
                              firstname
                              #firstname="ngModel"
                              [ngClass]="{ 'is-invalid': f.submitted && firstname.errors }"
                              value={{user.firstname}}>
                              <div class="invalid-feedback" *ngIf="firstname.errors && f.submitted">
                                <div *ngIf="firstname.errors['required']">Firstname is required</div>
                                <div *ngIf="firstname.errors['firstname']">
                                  Firstname must be a valid Firstname
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                              <label>Lastname</label>
                              <input class="form-control" type="text" name="lastname" [(ngModel)] = "user.lastname" value={{user.lastname}}>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Email</label>
                              <input class="form-control" type="text" name="email" [(ngModel)] = "user.email" value={{user.email}}>
                            </div>
                          </div>
                          <div class="col">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <label>Role</label>
                            <div class="form-group">
                              <div class="dropdown">
                                <div class="dropdown-content">
                                  <select name="cars" id="cars">
                                    <option *ngFor="let role of roles" [(ngModel)] = "user.role" value="{{role.value}}">{{role.name}}</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row" *ngIf="canChangePassword">
                      <div class="col-12 col-sm-6 mb-3">
                        <div class="mb-2"><b>Change Password</b></div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>New Password</label>
                              <input class="form-control" type="password" placeholder="••••••">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Confirm <span class="d-none d-xl-inline">Password</span></label>
                              <input class="form-control" type="password" placeholder="••••••">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button class = "btn btn-primary" type ="submit">Save</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div id="bottom"></div>
    </mat-sidenav-content> 
    <mat-sidenav mode="side" opened position="end" class="sidenav-right" [fixedInViewport]="true" [fixedTopGap]="56"
    [fixedBottomGap]="0">
    </mat-sidenav>
</mat-sidenav-container>