<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<mat-sidenav-container class="sidenav-container" id="top">
  
  <mat-sidenav mode="side" opened class="sidenav-left" [fixedInViewport]="true" [fixedTopGap]="56" [fixedBottomGap]="0">
    <h3 class="card-title">Account overview<span class="text-muted fw-normal ms-2"></span></h3>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <div class="container">
      <h1>User Details</h1>
      <div class="row">
        <div class="label">Username:</div>
        <div class="value">{{user?.username}}</div>
      </div>
      <div class="row">
        <div class="label">First name:</div>
        <div class="value">{{user?.firstname}}</div>
      </div>
      <div class="row">
        <div class="label">Last name::</div>
        <div class="value">{{user?.lastname}}</div>
      </div>
      <div class="row">
        <div class="label">Email:</div>
        <div class="value">{{user?.email}}</div>
      </div>
      <div class="row">
        <div class="label">Role:</div>
        <div class="value">{{formattedRole}}</div>
      </div>
    </div>
    <div id="bottom"></div>
  </mat-sidenav-content>

  <mat-sidenav mode="side" opened position="end" class="sidenav-right" [fixedInViewport]="true" [fixedTopGap]="56"
    [fixedBottomGap]="0">
    <div>
      <p class="text-center">Actions</p>
      <button class="btn btn-warning tooltips btn-block text-light " routerLink="/user/update/{{id}}"><i
          class="fa fa-pencil" style='color: white'></i> Edit</button>
    </div>
  </mat-sidenav>

</mat-sidenav-container>