<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css"
    integrity="sha512-pVCM5+SN2+qwj36KonHToF2p1oIvoU3bsqxphdOIWMYmgr4ZqD3t5DjKvvetKhXGc/ZG5REYTT6ltKfExEei/Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css"
    integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
<mat-sidenav-container class="sidenav-container" id="top">

    <mat-sidenav mode="side" opened class="sidenav-left" [fixedInViewport]="true" [fixedTopGap]="56"
        [fixedBottomGap]="0">
        <h5 class="card-title">Animals</h5>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content">
        <div class="container" id="main-container">
            
                <div class="col-lg-12">
                    
                            <table class="table table-striped align-middle tableshadow">
                                <thead class="tableheader">
                                    <tr>
                                        <th class="name-column" scope="col">Name</th>
                                        <th class="name-column" scope="col">Animal</th>
                                        <th class="name-column" scope="col" *ngIf="isLoggedIn() 
                                        && getRole() === 'ADMIN' || getRole() === 'CARETAKER'">Reports</th>

                                    </tr>
                                </thead>
                                <tbody class="tablebody">
                                    <tr *ngFor="let animal of animals">
                                        <td><span><a class="tableurl" routerLink="/animal/{{animal.id}}"><b>{{animal.name}}</b></a></span>
                                        </td>
                                        <td><span>{{animal.commonName}}</span></td>
                                        <td *ngIf="isLoggedIn() 
                                        && getRole() === 'ADMIN' || getRole() === 'CARETAKER'"><span *ngIf="animal.ticketAmount !== null && animal.ticketAmount > 0 ">
                                            {{animal.ticketAmount}}
                                          </span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                   
            
        </div>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

    <mat-sidenav mode="side" opened position="end" class="sidenav-right" [fixedInViewport]="true" [fixedTopGap]="56"
        [fixedBottomGap]="0">
        <div>
            <a routerLink="/animal" data-bs-toggle="modal" data-bs-target=".add-new"
                class="btn btn-secondary btn-block farmbutton" *ngIf="isLoggedIn() 
                && getRole() === 'ADMIN' || getRole() === 'CARETAKER'">Add Animal</a>
        </div>
    </mat-sidenav>
    
</mat-sidenav-container>