@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';

html, body { height: 100%; }
body { margin-top: 0px; font-family: Roboto, "Helvetica Neue", sans-serif; }
html {
    overflow-y:scroll;
}

/* NAVBAR COMPONENT */
.navbar-brand{
    font-size: 25px;
    font-weight: 500;
}

.navbar{
    background-color:#2d4636;
}

.farmbutton{
    background-color: #38905e;
    box-shadow: none; 
}
.farmbutton:hover{
    background-color: #febb26;
    box-shadow: none; 
    outline:#38905e;
}

.btn-secondary:focus{
    background-color: #febb26;
    outline: none;
}
.farmbutton::selection{
    background-color:#febb26;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{
    background-color: #febb26;
}

.btn-secondary{
    border:none;
}

/*TEXT*/

h1 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

h3{
    text-align: center;
    font-size: 20px;
}

.title{
    font-size: 30px;
    font-weight: 750;
    color:#38905e;
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
    padding-bottom: 0px;
            border-bottom-style: solid;
            border-bottom-width: 7px;
            border-color: #febb26;      
}

.tabletitle{
    font-size: 30px;
    font-weight: 750;
    color:#38905e;
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 50px;
    padding-bottom: 0px;
            border-bottom-style: solid;
            border-bottom-width: 7px;
            border-color: #febb26;      
}

/* CONTAINER & SIDENAVS */
.container {
    background-color: #fff;
    margin: 50px auto;
    max-width: auto;
    padding: 20px;
}

.mat-drawer-side.mat-drawer-end{
    border: none;
}


.sidenav-content {
    margin-top: 56px;
    padding-bottom: 10px;
    background-color: rgb(255, 255, 255);
    border: none;
}

.sidenav-left {
    background-color: rgb(255, 255, 255);
    width: 250px;
    padding: 50px 20px 10px 20px;
    border: none;
}

.sidenav-right {
    background-color: rgb(255, 255, 255);
    width: 250px;
    padding: 50px 20px 10px 20px;
    border: none;
}

/* TABLES */
.tableheader{
    background-color: #38905e;
    color: #febb26;
    text-align: center;
}

.tablebody{
    background-color: #bdd6c5;
    text-align: center;
}

.tableurl{
    color:black;
}

.mat-sort-header-container {
    display:flex;
    justify-content:center;
  }

  .mat-sort-header-arrow {
    color: #fff;
}

td, th{
    line-height: 15px;
    
}

.row {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}

.label {
    flex: 1;
    font-weight: bold;
}

.value {
    flex: 2;
}

.card-img-top {
    border-radius: 8px;
    max-height: 288px;
    width: auto;
    margin: 0 auto;
    display: block;
    align-items: center;
    justify-content: center;
    
}

.card {
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    border-color: rgb(238, 237, 237);
    background-color: #f7f7f7;
}





/* LOGIN COMPONENT */
label {
    display: block;
    margin-top: 10px;
  }
  
  .card-container.card {
    margin-top: 100px;
    max-width: 400px !important;
    padding: 40px 40px;
  }
  
  .card-login {
    background-color: #f7f7f7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  }

  /* Ticket */
  .new-ticket-form {
    min-width: 150px;
    max-width: 600px;
    width: 100%;
}

mat-form-field {
    width: 100%;
}

textarea {
    max-height: 200px;
}

.new-ticket-form mat-label{
    font-size: 18px;
}

/* Delete confirm dialog */
.actions {
    display: block;
  align-items: center;
  justify-content: center;
  width: 100%;
    
  }
  
  .actions button {
    width: 100px;
    margin-left: 50px;
    margin-right: 50px;
  }
 

  
  