<mat-sidenav-container class="sidenav-container" id="top">
  <mat-sidenav mode="side" opened class="sidenav-left" [fixedInViewport]="true" [fixedTopGap]="56" [fixedBottomGap]="0">
    <h3 class="card-title" >Add animal</h3>
  </mat-sidenav>
<mat-sidenav-content class="sidenav-content">
 
    <div class="container">
  <div class="col-md-6 offset-md-3">
    <br>
    <form (ngSubmit) = "onSubmit()">

        <div class="form-group">
            <input type="hidden" class ="form-control" id = "id"
                [(ngModel)] = "animal.id" name = "id">
        </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label> Animal name:</label>
                <input type="text" class ="form-control" id = "name"
                    [(ngModel)] = "animal.name" name = "name">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Date of birth:</label>
                <div class="input-group">
                  <input
                    matInput
                    [matDatepicker]="picker"
                    class="form-control"
                    id="dateOfBirth"
                    [(ngModel)]="animal.dateOfBirth"
                    name="dateOfBirth"
                    readonly="true"
                  />
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                </div>
                <mat-datepicker #picker></mat-datepicker>
              </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label> Species:</label>
                <input type="text" class ="form-control" id = "species"
                    [(ngModel)] = "animal.species" name = "species">
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label> Common name:</label>
                <input type="text" class ="form-control" id = "commonName"
                    [(ngModel)] = "animal.commonName" name = "commonName">
            </div>
        </div>
    </div>      
    <div class="col-md-12">
        <div class="form-group">
            <label> Description:</label>
            <textarea name="textarea" style="height:150px;"class ="form-control" id = "description"
            [(ngModel)] = "animal.description" name = "description"></textarea>
            
        </div>

        <div class="form-group">
            <label> Image url:</label>
            <input type="text" class ="form-control" id = "imageUrl"
                [(ngModel)] = "animal.imageUrl" name = "imageUrl">
        </div>
        </div>
    
    
        <button class = "btn btn-primary" type ="submit" style="float: right;">Submit</button>
    
    </form>
</div> 
</div>
<mat-sidenav mode="side" opened position="end" class="sidenav-right" [fixedInViewport]="true" [fixedTopGap]="56" [fixedBottomGap]="0">

</mat-sidenav>
</mat-sidenav-content> 
</mat-sidenav-container>