<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" id="navbar">
    <a class="navbar-brand">FarmWatch</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-2 ">
        <li><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" class="fw-navbar-item">Animals</a></li>
        <li><a routerLink="/ticket" *ngIf="isLoggedIn() && getRole() === 'ADMIN' || getRole() === 'CARETAKER'"  routerLinkActive="active" ariaCurrentWhenActive="page" class="fw-navbar-item" >Tickets</a></li>
        <li><a routerLink="/admindashboard" *ngIf="isLoggedIn() && getRole() == 'ADMIN'"  routerLinkActive="active" ariaCurrentWhenActive="page" class="fw-navbar-item" >Users</a></li>
      </ul>
       <button class="btn btn-secondary my-2 my-sm-0 " routerLink="/register" *ngIf="!isLoggedIn()" >Sign Up</button>
       <button class="btn btn-secondary my-2 my-sm-0 " routerLink="/ticket/new" *ngIf="isLoggedIn()">New Ticket</button>
       <div class="menu-padding" *ngIf="!isLoggedIn()" ></div>
       <button *ngIf="!isLoggedIn()" class="btn btn-secondary my-2 my-sm-0" (click)="openDialog()">Log In</button>
       <div class="menu-padding" *ngIf="isLoggedIn()" ></div>
       <div class="btn-group" *ngIf="isLoggedIn()">
         <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <fa-icon [icon]="faUser" class="mr-1" style="font-size: 16px;"></fa-icon>
         </button>
         <div class="dropdown-menu dropdown-menu-right">
           <span class="dropdown-header fw-dropdown-header">{{getUserName()}}</span>
           <div class="dropdown-divider"></div>
           <button class="dropdown-item fw-dropdown-item" type="button" routerLink="user/details">Manage account</button>
           <button class="dropdown-item fw-dropdown-item" *ngIf="isLoggedIn()" (click)="logout()">Log out</button>
         </div>
       </div>
  </nav>
  