<h1 mat-dialog-title>Sign Up</h1>
<div mat-dialog-content>
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" [formGroup]="form" novalidate>
        <div class="col-md-12">
            <div class="form-group">
                <label for="fullname">Full name</label>
                <input type="text" class="form-control" name="fullname" formControlName="fullname" required />
                <div *ngIf="form.controls['fullname']?.touched">
                  <mat-error *ngIf="form.controls['fullname'].errors?.['required']">Full name is required</mat-error>
                </div>
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username" formControlName="username" required />
                <div *ngIf="form.controls['username']?.touched">
                  <mat-error *ngIf="form.controls['username'].errors?.['required']">Username is required</mat-error>
                  <mat-error *ngIf="form.controls['username'].errors?.['minlength']">Username must be at least 3 characters</mat-error>
                  <mat-error *ngIf="form.controls['username'].errors?.['maxLength']">Username must be at most 20 characters</mat-error>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" name="email" formControlName="email" required />
                <div *ngIf="form.controls['email']?.touched">
                  <mat-error *ngIf="form.controls['email'].errors?.['required']">Email is required</mat-error>
                  <mat-error *ngIf="form.controls['email'].errors?.['email']">Email must be a valid email address</mat-error>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" formControlName="password" required minlength="6" />
                <div *ngIf="form.controls['password']?.touched">
                  <mat-error *ngIf="form.controls['password'].errors?.['required']">Password is required</mat-error>
                  <mat-error *ngIf="form.controls['password'].errors?.['minlength']">Password must be atleast 6 characters in length</mat-error>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Confirm Password</label>
                <input type="password" class="form-control" name="password" formControlName="confirmPassword" required minlength="6" />
                <mat-error *ngIf="passwordMatchError">Passwords do not match</mat-error>
            </div>
            <div class="recaptcha-center">
                <re-captcha id="recaptcha" formControlName="captchaToken" name="recaptcha" required></re-captcha>
            </div>
            <br>
            <div class="form-group">
                <button class="btn btn-secondary btn-block farmbutton">Sign up</button>
                <button class="btn btn-secondary btn-block" mat-dialog-close>Close</button>
            </div>
            <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed"> 
              Signup failed!<br/>{{ errorMessage }}
            </div>
          </div>
    </form>
</div>