<h1 mat-dialog-title>New {{newTicketMessageForm.privateMessage ? "private" : "public"}} message</h1>
<div id="newTicketMessageForm">
    <div mat-dialog-content>
        <div>
            <form name="form" #f="ngForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <textarea class="form-control" id="newTicketMessage" rows="3" 
                    name="message"
                    [(ngModel)]="newTicketMessageForm.message"
                    required
                    message
                    #message="ngModel"></textarea>
                </div>
            </form>            
        </div>
    </div>
    <mat-dialog-actions>
        <div class="actions d-flex flex-row">
            <div>
                <button class="btn btn-secondary btn-block" mat-dialog-close>Close</button>
            </div>
            <div>
                <button class="btn btn-primary btn-block" [mat-dialog-close]="newTicketMessageForm">Send</button>
            </div>
        </div>
    </mat-dialog-actions>
</div>
