<mat-sidenav-container class="sidenav-container" id="top">

    <mat-sidenav mode="side" opened class="sidenav-left" [fixedInViewport]="true" [fixedTopGap]="56"
        [fixedBottomGap]="0">

        <h3 class="card-title">Edit animal</h3>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content">
    <div class="container">
        <div class="col-md-6 offset-md-3">
            <form (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <input type="hidden" class="form-control" id="id" [(ngModel)]="updateAnimal.id" name="id">
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Animal name:</label>
                            <input type="text" class="form-control" id="name" [(ngModel)]="updateAnimal.name"
                                name="name">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Date of birth:</label>
                            <div class="input-group">
                                <input matInput [matDatepicker]="picker" class="form-control" id="dateOfBirth"
                                    [(ngModel)]="updateAnimal.dateOfBirth" name="dateOfBirth" readonly="true" />
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            </div>
                            <mat-datepicker #picker></mat-datepicker>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Species:</label>
                            <input type="text" class="form-control" id="species" [(ngModel)]="updateAnimal.species"
                                name="species">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Common name:</label>
                            <input type="text" class="form-control" id="commonName"
                                [(ngModel)]="updateAnimal.commonName" name="commonName">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                <div class="form-group">
                    <label> Description:</label>
                    <textarea name="textarea" style="height:150px;" class="form-control" id="description"
                        [(ngModel)]="updateAnimal.description" name="description"></textarea>
                </div>
                <div class="form-group">
                    <input type="hidden" class="form-control" id="imageFileName" [(ngModel)]="updateAnimal.imageFileName"
                        name="imageFileName">
                </div>
                <button class="btn btn-secondary farmbutton" type="submit" style="float: right">Save</button>
            </div>
            </form>
        </div>
    </div>
    </mat-sidenav-content>

    <mat-sidenav mode="side" opened position="end" class="sidenav-right" [fixedInViewport]="true" [fixedTopGap]="56"
    [fixedBottomGap]="0">
    <div>
        <button class="btn btn-secondary tooltips btn-block farmbutton" *ngIf="isLoggedIn() 
        && getRole() === 'ADMIN' || getRole() === 'CARETAKER' || getRole() === 'User'"
          (click)="openImageUploadAction()">Upload new Image</button>
            </div>
            <br>
            <button class="btn btn-danger tooltips btn-block" *ngIf="isLoggedIn() 
            && getRole() === 'ADMIN' || getRole() === 'CARETAKER'"
              (click)="confirmDeleteAction(id)">Delete</button>
</mat-sidenav>

</mat-sidenav-container>