<div class="col-md-6 offset-md-3">
    <br>
    <h3> Edit Animal </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <input type="hidden" class ="form-control" id = "id"
                [(ngModel)] = "updateAnimal.id" name = "id">
        </div>

        <div class="form-group">
            <label> Animal name:</label>
            <input type="text" class ="form-control" id = "name"
                [(ngModel)] = "updateAnimal.name" name = "name">
        </div>

        <div class="form-group">
            <label> Common name:</label>
            <input type="text" class ="form-control" id = "commonName"
                [(ngModel)] = "updateAnimal.commonName" name = "commonName">
        </div>

        <div class="form-group">
            <label> Species:</label>
            <input type="text" class ="form-control" id = "species"
                [(ngModel)] = "updateAnimal.species" name = "species">
        </div>

        <div class="form-group">
            <label> Description:</label>
            <input type="text" class ="form-control" id = "description"
                [(ngModel)] = "updateAnimal.description" name = "description">
        </div>

        <div class="form-group">
            <label> Date of birth:</label>
            <input type="text" class ="form-control" id = "dateOfBirth"
                [(ngModel)] = "updateAnimal.dateOfBirth" name = "dateOfBirth">
        </div>

        <div class="form-group">
            <label> Image url:</label>
            <input type="text" class ="form-control" id = "imageUrl"
                [(ngModel)] = "updateAnimal.imageUrl" name = "imageUrl">
        </div>
    
    
        <button class = "btn btn-primary" type ="submit">Submit</button>
    
    </form>
</div> 
