<h1 >Animal Overview</h1>
<br>
<div div *ngFor="let animal of animals" class="list-group">
    <div class="card" style="width: auto">
        <div class="row">
            <div class="col-md-6">
                <h5><a routerLink="/animal/{{animal.id}}">{{animal.name}}</a></h5>
            </div>
            <div class="col-md-3">
                <button class="btn btn-secondary tooltips" (click)="onDeleteAnimal(animal.id)"><i class="fa fa-times"></i></button>
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary tooltips" (click)="onDeleteAnimal(animal.id)"><i class="fa fa-pencil"></i></button>
            </div>
        </div>
    </div>
</div>
  
<router-outlet></router-outlet>


