<mat-sidenav-container class="sidenav-container" id="top">
    
    <mat-sidenav mode="side" opened class="sidenav-left" [fixedInViewport]="true" [fixedTopGap]="56"
        [fixedBottomGap]="0">
        
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content">
        <div class="container">
            <div class="col-md-6 offset-md-3 formshadow">
                <br>
                <h3 class="card-title">Edit report</h3>
                <form (ngSubmit)="onSubmit()" class="new-ticket-form">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>Animal name</label>
                                <div class="dropdown">
                                    <div class="dropdown-content">
                                    <select [(ngModel)]="ticket.animalId" type="animalId" class="form-control" required
                                        animalId #animalId="ngModel"name="animalId" [value]="ticket.animalId">
                                        <option *ngFor="let animal of animals" [selected]="animal.name==ticket.animalName" [value]="animal.id">{{animal.name}}</option>
                                    </select>
                                    </div>
                                </div>                        
                            </div>
                        </div>
                        <div class="col"></div>
                    </div> 
                    <div class="col">
                    <div class="form-group">
                        <label>Summary</label>
                        <input type="text" class="form-control" name="summary" [(ngModel)]="ticket.summary" required summary
                        #summary="ngModel" value={{ticket.summary}}>
                    </div>
                </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>Status</label>
                                <div class="dropdown">
                                    <div class="dropdown-content">
                                    <select [(ngModel)]="ticket.status" type="status" class="form-control" required
                                        status #status="ngModel"name="status" value="{{ticket.status}}">
                                        <option *ngFor="let status of statuses ">{{status}}</option>
                                    </select>
                                    </div>
                                </div> 
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label>Assigned to</label>
                                <div class="dropdown">
                                    <div class="dropdown-content">
                                    <select [(ngModel)]="ticket.assignedTo" type="assignedTo" class="form-control" required
                                        assignedTo #assignedTo="ngModel"name="assignedTo" value="{{ticket.assignedTo}}">
                                        <option value="" >{{noValue}}</option>
                                        <option *ngFor="let caretaker of caretakers" [selected]="caretaker.fullName==ticket.assignedToName" [value]="caretaker.id">{{caretaker.fullName}}</option>
                                    </select>
                                    </div>
                                </div>                        
                            </div>
                        </div>  
                    </div>
                    <div class="col">
                    <div class="form-group">
                        <label>Description</label>
                        <textarea rows="10" style="height: 100%;" class="form-control" name="description"
                            [(ngModel)]="ticket.description" required description #description="ngModel"></textarea>
                    </div>
                </div>
                <div class="actions">
                    <div class="row">
                        <div class="button-container" style="flex: auto;">
                            <button class="btn btn-secondary btnshadow" [routerLink]="['/ticket/', id]">Cancel</button>
                        </div>
                        <button class="btn btn-secondary farmbutton" type="submit">Save</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </mat-sidenav-content>
   
    <mat-sidenav mode="side" opened position="end" class="sidenav-right" [fixedInViewport]="true" [fixedTopGap]="56"
        [fixedBottomGap]="0">
    </mat-sidenav>

</mat-sidenav-container>