.fw-sidepanel-left-item{
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px; 
    color: rgb(0, 0, 0); 
    font-size: 15px;
}

th{
    line-height: 15px;
    background-color: #407353;
}