.image-preview{
    width: 100%;
    min-height: 200px;
    max-height: 300px;
    width: 400px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.image-preview-close-button{
    margin-right: 40px;
}

.upload-file-button{
    margin-left: auto;
    margin-right: auto;
    padding: 6px 12px;
    margin: 0px 50px;
}