<mat-sidenav-container class="sidenav-container" id="top">
    
    <mat-sidenav mode="side" opened class="sidenav-left" [fixedInViewport]="true" [fixedTopGap]="56"
        [fixedBottomGap]="0">
        <h3 class="card-title">Create new ticket</h3>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content">
        <br>
        <div class="container">
            <div class="col-md-12 d-flex align-items-center justify-content-center flex-column">
                <form (ngSubmit)="onSubmit()" class="new-ticket-form" name="form" #f="ngForm">
                    <div class="form-group">
                        <label>Summary</label>
                        <input matInput type="text" class="form-control" name="summary" placeholder="Enter a summary for your ticket" [(ngModel)]="form.summary" required
                            summary #summary="ngModel">
                    </div>
                    <div class="form-group">
                        <label>Animal</label>
                        <select class="form-control" name="animalId" [(ngModel)]="form.animalId" animalId
                            #animalId="ngModel">
                            <option disabled selected value="-1"> -- select an animal -- </option>
                            <option value="" selected>I'm not sure</option>
                            <option *ngFor="let animal of animals" [value]="animal.id">
                                {{animal.name}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea matInput rows="10" style="height: 100%;" class="form-control" name="description" placeholder="Describe what you noticed"
                            [(ngModel)]="form.description" required description #description="ngModel"></textarea>
                    </div>
                    <button class="btn btn-primary" type="submit" style="float: right">Submit ticket</button>
                </form>
            </div>
        </div>
    </mat-sidenav-content>
   
    <mat-sidenav mode="side" opened position="end" class="sidenav-right" [fixedInViewport]="true" [fixedTopGap]="56"
        [fixedBottomGap]="0">
    </mat-sidenav>

</mat-sidenav-container>