@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/5.15.4/css/font-awesome.min.css';

.nav-padding {
    height: 56px;
}
.sidenav-container {
    top: 56px;
}

.sidenav-content {
    padding: 10px 20px 10px 20px;
}

.sidenav-left {
    background-color: rgb(119, 119, 119);
    width: 250px;
    padding: 10px 20px 10px 20px;
}

.sidenav-right {
    background-color: rgb(119, 119, 119);
    width: 250px;
    padding: 10px 20px 10px 20px;
    
}