<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">FarmWatch</a>

  <div class="collapse navbar-collapse" id="navbarColor02">

          <a routerLink="/animal/all" routerLinkActive="active" ariaCurrentWhenActive="page" style="margin-left: 20px; color: white; font-size: 20px;">Animals</a>

  </div>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>