<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" id="navbar">
  <a class="navbar-brand" style="color:white;">FarmWatch</a>

  <div class="collapse navbar-collapse justify-content-between" id="navbarColor02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" style="margin-left: 20px; color: white; font-size: 20px;">Animals</a>
      <a routerLink="/admindashboard" *ngIf="isLoggedIn() && getRole() == 'ADMIN'"  routerLinkActive="active" ariaCurrentWhenActive="page" style="margin-left: 20px; color: white; font-size: 20px;">Admin Dashboard</a>
      <a routerLink="/ticket/new" *ngIf="isLoggedIn()" routerLinkActive="active" ariaCurrentWhenActive="page" style="margin-left: 20px; color: white; font-size: 20px;">New Ticket</a>
    </ul>
    <ul class="my-2 my-lg-0" *ngIf="!isLoggedIn()">
      <button class="btn btn-secondary my-2 my-sm-0" routerLink="/register">Register</button>
    </ul>
    <ul class="my-2 my-lg-0" *ngIf="isLoggedIn()">
      <div class="btn-container">
        <button class="btn btn-secondary my-2 my-sm-0" routerLink="/user/update/{{getUserId()}}">
          <fa-icon [icon]="faUser" ></fa-icon> 
        </button>
      </div>  
    </ul>
    <ul class="my-2 my-lg-0">
      <button *ngIf="!isLoggedIn()" class="btn btn-secondary my-2 my-sm-0" routerLink="/login">Login</button>
      <button *ngIf="isLoggedIn()" class="btn btn-secondary my-2 my-sm-0" (click)="logout()">Logout</button>
    </ul>
  </div>
</nav>
<div class="nav-padding"></div>
<router-outlet></router-outlet>
