<h1 mat-dialog-title>Forgot password</h1>
<div mat-dialog-content>
     <form
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="text"
            class="form-control"
            name="email"
            [(ngModel)]="form.email"
            required
            #email="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && email.errors }"
          />
          <div *ngIf="email.errors && f.submitted" class="invalid-feedback">
            Email is required!
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-secondary btn-block farmbutton">
            Send reset link
          </button>
          <button class="btn btn-secondary btn-block" mat-dialog-close>Close</button>
        </div>
      </form>
</div>
